* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* background */
html {
    background-color: #FAFAFA;
;
}

/* typography */

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

/* header nav */ 

.site-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 1.25em 1.25em;
    justify-content: space-between;
    background-color: #FAFAFA;
}


.logo{
    width: 2.5em;
    height: 2.5em;
}

.logo-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #090909;
    text-decoration: none;
    font-size: 1.125rem;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin: 0 0.5em;
}



/* grid templates layout */
.site-header {
    grid-area: header;
}

.featured {
    grid-area: featured;
}

.article-1 {
    grid-area: a1;
}
.article-2 {
    grid-area: a2;
}
.article-3 {
    grid-area: a3;
}
.article-4 {
    grid-area: a4;
}
.article-5 {
    grid-area: a5;
}
.article-6 {
    grid-area: a6;
}
.footer {
    grid-area: footer;
}


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "featured-section"
        "main-section"
        "footer";
    margin-top: 0;
    margin-bottom: 1em;
}

.main-section {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "a1"
        "a2"
        "a3"
        "a4"
        "a5"
        "a6";
    column-gap: 2em;
    padding: 0px 2em;
}

/* featured article layout */

.featured {
    background-image: url("/images/front-end-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 18em;
    display: flex;
    align-items: center;    
    padding: 2em;
}

.featured-section .article-header {
    color:#FAFAFA
}

/* styling post */ 

.post {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
}

.article-header h2,
.article-header p,
.article-header a{
    margin-top: 0.325em;
    text-decoration: none;;
}

.main-section .article-header a {
    color:#090909;
}


/* styling article layout */

article img {
    width: 100%;
    margin-bottom: 0.5em;
    
}

/* view more */ 

.section-one {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 4em 0em;
}

.section-one a {
    text-decoration: none;
    color: #090909;
}

.section-one a:hover {
    text-decoration: underline;
    color: grey;
    text-decoration-color: #48b02c;
    text-decoration-thickness: 0.25em;
    text-underline-offset: 8px;
}

/* footer */ 

footer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FAFAFA;
    background-color: #202020;
    min-height: 2em;
    margin-top: 2em;
    padding: 2.25em 2.25em;
    gap: 2.25em;
}


 /*media query tablet layout */

@media(min-width: 768px) {
    .main-section {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a1 a2"
            "a3 a4"
            "a5 a6";
    }
    .featured {
        min-height: 24em;
    }
    footer {
        display: flex;
        justify-content: space-between;
    }
}


/* media query desktop layout */

@media(min-width: 980px) {
    .main-section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "a1 a2 a3"
            "a4 a5 a6";
    }
    .featured {
        min-height: 30em;
    }
}