* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, 
body {
    margin: 0;
}

/* typography */

h1, h2 {
    margin: 0;
}

/* header nav */ 

header {
    padding: 1.25em 0;
    background-color: #FAFAFA;

}

header {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

.logo{
    width: 2.5em;
    height: 2.5em;
}

.logo-group {
    display: inline-flex;
    align-items: center;
    gap: 1em;
}


nav a {
    color: #090909;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* featured */ 

.featured {
    height: 100%;
    background-image: url("/images/front-end-img.jpg");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FAFAFA;
    padding: 2.5em;
}

.article-img {
    width: 100%;
}

.article-item img{
    margin-bottom: 0.25em;
}

/* media query */

